/* Coolors Exported Palette - https://coolors.co/fff300-000000-94664f-6340a1-4b3f61-2e5715-328b31-89b900 */

/* CSS HEX */
--canary: #fff300ff;
--black: #000000ff;
--raw-umber: #94664fff;
--rebecca-purple: #6340a1ff;
--english-violet: #4b3f61ff;
--dark-moss-green: #2e5715ff;
--forest-green: #328b31ff;
--apple-green: #89b900ff;

/* CSS HSL */
--canary: hsla(57, 100%, 50%, 1);
--black: hsla(0, 0%, 0%, 1);
--raw-umber: hsla(20, 30%, 45%, 1);
--rebecca-purple: hsla(262, 43%, 44%, 1);
--english-violet: hsla(261, 21%, 31%, 1);
--dark-moss-green: hsla(97, 61%, 21%, 1);
--forest-green: hsla(119, 48%, 37%, 1);
--apple-green: hsla(76, 100%, 36%, 1);

/* SCSS HEX */
$canary: #fff300ff;
$black: #000000ff;
$raw-umber: #94664fff;
$rebecca-purple: #6340a1ff;
$english-violet: #4b3f61ff;
$dark-moss-green: #2e5715ff;
$forest-green: #328b31ff;
$apple-green: #89b900ff;

/* SCSS HSL */
$canary: hsla(57, 100%, 50%, 1);
$black: hsla(0, 0%, 0%, 1);
$raw-umber: hsla(20, 30%, 45%, 1);
$rebecca-purple: hsla(262, 43%, 44%, 1);
$english-violet: hsla(261, 21%, 31%, 1);
$dark-moss-green: hsla(97, 61%, 21%, 1);
$forest-green: hsla(119, 48%, 37%, 1);
$apple-green: hsla(76, 100%, 36%, 1);

/* SCSS RGB */
$canary: rgba(255, 243, 0, 1);
$black: rgba(0, 0, 0, 1);
$raw-umber: rgba(148, 102, 79, 1);
$rebecca-purple: rgba(99, 64, 161, 1);
$english-violet: rgba(75, 63, 97, 1);
$dark-moss-green: rgba(46, 87, 21, 1);
$forest-green: rgba(50, 139, 49, 1);
$apple-green: rgba(137, 185, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fff300ff, #000000ff, #94664fff, #6340a1ff, #4b3f61ff, #2e5715ff, #328b31ff, #89b900ff);
$gradient-right: linear-gradient(90deg, #fff300ff, #000000ff, #94664fff, #6340a1ff, #4b3f61ff, #2e5715ff, #328b31ff, #89b900ff);
$gradient-bottom: linear-gradient(180deg, #fff300ff, #000000ff, #94664fff, #6340a1ff, #4b3f61ff, #2e5715ff, #328b31ff, #89b900ff);
$gradient-left: linear-gradient(270deg, #fff300ff, #000000ff, #94664fff, #6340a1ff, #4b3f61ff, #2e5715ff, #328b31ff, #89b900ff);
$gradient-top-right: linear-gradient(45deg, #fff300ff, #000000ff, #94664fff, #6340a1ff, #4b3f61ff, #2e5715ff, #328b31ff, #89b900ff);
$gradient-bottom-right: linear-gradient(135deg, #fff300ff, #000000ff, #94664fff, #6340a1ff, #4b3f61ff, #2e5715ff, #328b31ff, #89b900ff);
$gradient-top-left: linear-gradient(225deg, #fff300ff, #000000ff, #94664fff, #6340a1ff, #4b3f61ff, #2e5715ff, #328b31ff, #89b900ff);
$gradient-bottom-left: linear-gradient(315deg, #fff300ff, #000000ff, #94664fff, #6340a1ff, #4b3f61ff, #2e5715ff, #328b31ff, #89b900ff);
$gradient-radial: radial-gradient(#fff300ff, #000000ff, #94664fff, #6340a1ff, #4b3f61ff, #2e5715ff, #328b31ff, #89b900ff);